body, html {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden; /* 가로 스크롤 비활성화 */
    height: auto; /* 내용에 따라 높이 조정 */
    background-color: #474f57; /* 배경색 */
    color: #fff; /* 텍스트 색상 */
}

/* 전체 페이지의 스크롤바 스타일 */
body::-webkit-scrollbar, html::-webkit-scrollbar {
    width: 10px; /* 스크롤바 너비 */
}

body::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb {
    background: #888; /* 스크롤바 색상 */
    border-radius: 5px; /* 둥근 모서리 */
}

body::-webkit-scrollbar-thumb:hover, html::-webkit-scrollbar-thumb:hover {
    background: #555; /* 호버 시 색상 */
}

/* 사이드바 스타일 */
#sidebar {
    top: 0;
    left: -360px;
    width: 360px;
    height: 100vh;
    padding: 18.5px;
    position: fixed;
    background: #343a40;
    color: white;
    transition: left 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 1em;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1001; /* 높은 z-index 값으로 사이드바를 상위 레이어에 위치시킴 */
}

#sidebar.active {
    left: 0; /* 활성화 시 왼쪽에 위치 */
}

#sidebarCollapse {
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 1000;
    transform: translateY(-50%);
    transition: left 0.3s, background-color 0.3s;
    border: none;
    border-radius: 0;
    background-color: #343a40;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

#sidebarCollapse:hover {
    background-color: #1d2124; /* 호버 시 배경색 변경 */
}

/* 사이드바의 스크롤바 스타일 */
#sidebar::-webkit-scrollbar {
    width: 10px;
}

#sidebar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

#sidebar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.drag-handle {
    cursor: move;
}

.drag-handle:hover {
    color: #555;
}

.file-button-container {
    display: flex; /* 컨테이너 내 요소를 가로로 배치 */
    align-items: center; /* 아이템들을 세로 방향으로 중앙 정렬 */
    gap: 10px; /* 버튼 사이의 간격 */
}

.file-list-button {
    display: flex;
    flex-grow: 1; /* 파일 목록 버튼이 가능한 많은 공간을 차지하도록 설정 */
    width: 100%;
    align-items: center;
    text-align: left;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 15px;
    transition: background-color 0.2s;
    cursor: pointer;
    margin: 10px 5px;
}

.file-list-button i {
    font-size: 24px;
    margin-right: 10px;
}

.delete-file-button {
    cursor: pointer; /* 마우스 오버 시 커서 변경 */
    background-color: transparent; /* 배경색 제거 */
    border: none; /* 테두리 제거 */
}

/* 메인 컨텐츠 스타일 */
#content {
    transition: margin-left .3s;
    padding: 0;
    height: 100vh;
}

#main-content {
    height: 100%;
    border: none;
    width: 100%;
}

#fileContentsContainer {
    text-align: center;
    width: 65%;
    margin: 0 auto;
}

.file-content {
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease-in-out;
}

.file-content:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.file-input input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    box-sizing: border-box;
    font-size: 1.2em;
    margin-bottom: 10px;
    background-color: #f8f8f8;
}

.file-input input[type="text"]:focus {
    border-bottom-color: #4CAF50;
    box-shadow: 0 1px 0 rgba(76, 175, 80, 0.5);
}

.item-button {
    padding: 10px 20px;
    font-size: 1.4em;
    color: #fff;
    background-color: #4CAF50;
    border: 2px solid #357a38;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 8px;
}

.item-button:hover {
    background-color: #357a38;
}

.icon-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4em;
    padding: 10px;
    width: 50px;
    height: 50px;
    margin: 4px;
    border: none;
    border-radius: 4px;
    background-color: #f7f7f7;
}

.icon-button:hover {
    background-color: #ddd;
    color: #333;
}

.fas {
    font-size: 0.8em;
    color: #4CAF50;
}

/* 플로팅 버튼 스타일 */
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.floating-button a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.floating-button:hover {
    background-color: #357a38;
}

/* 기타 요소 스타일 */
#counter {
    padding: 10px 0;
}

#copyright {
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding: 10px 0;
}

#emptyContainerMessage {
    user-select: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000; /* 낮은 z-index 값으로 emptyContainerMessage를 하위 레이어에 위치시킴 */
}

#copyrightContainer {
    font-size: 14px; /* 폰트 크기 */
    user-select: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-top: 1px solid #ccc;
    padding: 10px 0; /* 상하 패딩 */
    z-index: 1000; /* 낮은 z-index 값으로 emptyContainerMessage를 하위 레이어에 위치시킴 */
}
