body, html {
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden; /* 가로 스크롤 비활성화 */
    height: auto; /* 내용에 따라 높이 조정 */
    background-color: #474f57; /* 배경색 */
    color: #fff; /* 텍스트 색상 */
}

.title-text {
    font-family: "Do Hyeon", sans-serif;
}

/* 전체 페이지의 스크롤바 스타일 */
body::-webkit-scrollbar, html::-webkit-scrollbar {
    width: 10px; /* 스크롤바 너비 */
}

body::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb {
    background: #888; /* 스크롤바 색상 */
    border-radius: 5px; /* 둥근 모서리 */
}

body::-webkit-scrollbar-thumb:hover, html::-webkit-scrollbar-thumb:hover {
    background: #555; /* 호버 시 색상 */
}

/* 사이드바 스타일 */
#sidebar {
    top: 0;
    left: -360px;
    width: 360px;
    height: 100vh;
    padding: 18.5px;
    position: fixed;
    background: #343a40;
    color: white;
    transition: left 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 1em;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1001; /* 높은 z-index 값으로 사이드바를 상위 레이어에 위치시킴 */
}

#sidebar.active {
    left: 0; /* 활성화 시 왼쪽에 위치 */
}

#sidebarCollapse {
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 1000;
    transform: translateY(-50%);
    transition: left 0.3s, background-color 0.3s;
    border: none;
    border-radius: 0;
    background-color: #343a40;
    color: white;
    font-size: 1em;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}

#sidebarCollapse:hover {
    background-color: #1d2124; /* 호버 시 배경색 변경 */
}

/* 사이드바의 스크롤바 스타일 */
#sidebar::-webkit-scrollbar {
    width: 10px;
}

#sidebar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

#sidebar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.file-button-container {
    display: flex; /* 컨테이너 내 요소를 가로로 배치 */
    align-items: center; /* 아이템들을 세로 방향으로 중앙 정렬 */
    gap: 10px; /* 버튼 사이의 간격 */
}

.file-list-button {
    display: flex;
    flex-grow: 1; /* 파일 목록 버튼이 가능한 많은 공간을 차지하도록 설정 */
    width: 100%;
    align-items: center;
    text-align: left;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 15px;
    transition: background-color 0.2s;
    cursor: pointer;
    margin: 10px 5px;
}

.file-list-button i {
    font-size: 24px;
    margin-right: 10px;
}

/* 메인 컨텐츠 스타일 */
#content {
    transition: margin-left .3s;
    padding: 0;
    height: 100vh;
}

#main-content {
    height: 100%;
    border: none;
    width: 100%;
}

#fileContentsContainer {
    text-align: center;
    width: 65%;
    margin: 0 auto;
    padding: 10px;
}

/* 플로팅 버튼 스타일 */
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.floating-button a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.floating-button:hover {
    background-color: #357a38;
}

/* 기타 요소 스타일 */
#emptyContainerMessage {
    user-select: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000; /* 낮은 z-index 값으로 emptyContainerMessage를 하위 레이어에 위치시킴 */
}

#copyright {
    font-size: 14px; /* 폰트 크기 */
    user-select: none; /* 사용자가 텍스트를 선택할 수 없도록 설정 */
    position: fixed; /* 화면 하단에 고정 */
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center; /* 텍스트 중앙 정렬 */
    border-top: 1px solid #ccc; /* 상단에 경계선 추가 */
    padding: 10px 0; /* 상하 패딩 */
    z-index: 1000; /* 다른 요소들 위에 표시되도록 z-index 설정 */
    color: #fff; /* 폰트 색상 */
}